.header{
    background-color: burlywood;
    display :flex;
    justify-content: space-between;
}
.menu{
    background-color: chocolate;
}
h2,p{
    text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display :flex;
    justify-content: flex-end;
}